datasets
lmstudio
numpy
pandas
Pillow
Requests
scikit_learn
torch
tqdm
transformers[torch]
humanize
matplotlib
imbalanced-learn
ipywidgets
gdown
kagglehub
torchvision
timm
torchinfo
tensorboard
tensorboard-plugin-profile
accelerate 
evaluate
 